<div class="container">
  <div class="following">
    <div class="circle"></div>
    <p class="nome">joão doria</p>
    <button class="unfollow"><img src="./images/user_x.svg" alt="botão de unfollow"></button>
  </div>
  <hr>
  <div class="following">
    <div class="circle"></div>
    <p class="nome">joão doria</p>
    <button class="unfollow"><img src="./images/user_x.svg" alt="botão de unfollow"></button>
  </div>
  <hr>
  <div class="following">
    <div class="circle"></div>
    <p class="nome">joão doria</p>
    <button class="unfollow"><img src="./images/user_x.svg" alt="botão de unfollow"></button>
  </div>

</div>
